footer
 .my-container
  .order-panel
    .cards
     img(src="../img/cards.png", alt="rabita bank card", srcset="")
    .cards-text
     h1 Yeni ‘’+Kartmane’’
     p İstədiyin hər nədirsə
     button İndi sifariş et