header
 .my-container
  nav
    .logo
        img(src="../img/logo.png", alt="", srcset="")
    form(action='/action_page.php')
       .custom-select(style='width:100%;')
          select
            option(value='0') AZ
            option(value='1') AZ
            option(value='2') EN
            option(value='3') RU
       





