
<main>
  <div class="my-container">
    <div class="content">
      <div class="content-title">
        <h1>Kart balansını artır</h1>
      </div>
      <div class="content-text">
        <ul>
          <li>Kartın adı<a>Əmək haqqı kartı</a></li>
          <li>Müqavilə nömrəsi<a>00410100107944-156691</a></li>
          <li>Başlama vaxtı<a>12.19.2019</a></li>
          <li>Valyuta<a>AZN</a></li>
        </ul>
        <div class="dropdown">
          <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ödəniş məlumatları</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Ödəniş</a><a class="dropdown-item" href="#">Valyuta</a><a class="dropdown-item" href="#">Kart balansını artır</a></div>
        </div>
      </div>
      <div class="content-select"> 
        <p>Davam etmək üçün məbləğ və valyuta seçin.</p>
        <div class="content-select-inputs">
          <input type="text" placeholder="Məbləğ"/>
          <div class="custom-select" style="width:100%;">
            <select>
              <option class="val" value="0">Valyuta</option>
              <option value="1">AZ</option>
              <option value="2">EN</option>
              <option value="3">RU</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>